In [11]:
import sqlite3 # create table : upload 테이블 생성 
from sqlite3 import Error
import time

con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

cursor_db.execute('CREATE TABLE "upload"("uplode_no" INTEGER NOT NULL, "img_name" TEXT NOT NULL, "user_id" TEXT NOT NULL, "img_url" TEXT NOT NULL, "img_size" REAL NOT NULL, "img_width" REAL NOT NULL, "img_height" REAL NOT NULL, "s_update_date" TEXT NOT NULL, FOREIGN KEY("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE, PRIMARY KEY("uplode_no" AUTOINCREMENT));')
                
con.commit()  # 저장한다
con.close()   # db 닫기

In [16]:
#  insert into : 테이블 내 데이터 추가 
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

plus_data = ('imgsss.jpg', 'testid', '/data/datas/', 103, 155, 155, time.strftime('%Y-%m-%d'))
cursor_db.execute("INSERT INTO 'upload'('img_name', 'user_id', 'img_url', 'img_size', 'img_width', 'img_height', 's_update_date') VALUES(?, ?, ?, ?, ?, ?, ?)", plus_data) # 작업을 한다

con.commit()  # 저장한다
con.close()   # db 닫기

In [17]:
#  insert into : data_aihub 테이블 내 데이터 수정 
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

# 작업을 한다
cursor_db.execute("UPDATE upload SET img_name= 'imgsss22222.jpg' where uplode_no= 3") # 따음표 제외해야 잘 수정된다

con.commit()  # 저장한다
con.close()   # db 닫기

In [18]:
#  insert into : data_aihub 테이블 내 데이터 삭제
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

# 작업을 한다
cursor_db.execute("DELETE FROM upload where uplode_no= 4") 

con.commit()  # 저장한다
con.close()   # db 닫기

In [19]:
# 모든 값 읽어오기 (id 순으로 역순정렬 후 5개 데이터만)

con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다
cursor_db.execute('SELECT * FROM upload ORDER BY uplode_no DESC limit 5') # 
# 작업을 한다
raw_datas = cursor_db.fetchall()

for _ in raw_datas:
    print(_)

con.commit()  # 저장한다
con.close()   # db 닫기

(5, 'imgsss.jpg', 'testid', '/data/datas/', 103.0, 155.0, 155.0, '2023-04-14')
(3, 'imgsss22222.jpg', 'testid', '/data/datas/', 103.0, 155.0, 155.0, '2023-04-14')
(2, 'imgsss.jpg', 'testid', '/data/datas/', 103.0, 155.0, 155.0, '2023-04-14')
(1, 'imgsss.jpg', 'testid', '/data/datas/', 103.0, 155.0, 155.0, '2023-04-14')

In [6]:
class Upload:
    def __init__(self): # 연결
        self.con = sqlite3.connect("teamproject.db", timeout=15, isolation_level=None)
        self.cur = self.con.cursor()
        
    def __del__(self): # 연결해제
        self.cur.close()
        self.con.close()
        
    def upload_insert(self, img_name, user_id, img_url, img_size, img_width, img_height):
        sql = "INSERT INTO upload ('img_name', 'user_id', 'img_url', 'img_size', 'img_width', 'img_height', 's_update_date') VALUES (?,?,?,?,?,?,?);"
        self.con.execute(sql,(img_name, user_id, img_url, img_size, img_width, img_height, time.strftime('%Y-%m-%d'),))
        self.con.commit()
        
    def upload_update(self, img_name, user_id, img_url, img_size, img_width, img_height, upload_no):  
        sql = "UPDATE  upload SET user_id = ?, user_pw= ?, user_area =? where upload_no =?"
        self.con.execute(sql,(img_name, user_id, img_url, img_size, img_width, img_height, upload_no,))
        self.con.commit()
        
    def upload_delete(self, upload_no):             
        sql = "DELETE FROM upload where upload_no =?"
        self.con.execute(sql, (upload_no,))
        self.con.commit()           
    
    def upload_selectAll(self):            
        sql = "SELECT * FROM upload"
        res = self.cur.execute(sql,)
        for _ in res:            
            print(_)
        return res
        
    def upload_selectOne(self, upload_no):      
        sql = "SELECT * FROM upload Where  upload_no = ?"
        self.cur.execute(sql, (upload_no,))
        row = self.cur.fetchone()
        print(row)
        
        self.con.commit()

In [7]:
import sqlite3 # create table : upload 테이블 생성 
from sqlite3 import Error
import time

if __name__ == '__main__':
    u= Upload()             
    u.upload_insert('img05.jpg', 'testid', '/data/img/',150, 250, 250)

In [8]:
if __name__ == '__main__':
    u= Upload()             
    u.upload_selectAll()

(1, 'imgsss.jpg', 'testid', '/data/datas/', 103.0, 155.0, 155.0, '2023-04-14')
(2, 'imgsss.jpg', 'testid', '/data/datas/', 103.0, 155.0, 155.0, '2023-04-14')
(3, 'imgsss22222.jpg', 'testid', '/data/datas/', 103.0, 155.0, 155.0, '2023-04-14')
(5, 'imgsss.jpg', 'testid', '/data/datas/', 103.0, 155.0, 155.0, '2023-04-14')
(6, 'img05.jpg', 'testid', '/data/img/', 150.0, 250.0, 250.0, '2023-04-18')