In [1]:
import sqlite3 # create table : comment 테이블 생성 
from sqlite3 import Error
import time

con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

cursor_db.execute('CREATE TABLE "comment"("com_no" INTEGER NOT NULL, "qna_no" INTEGER NOT NULL, "com_data" TEXT NOT NULL, "user_id" TEXT NOT NULL, "com_content" TEXT NOT NULL, FOREIGN KEY("qna_no") REFERENCES "qna"("qna_no") ON DELETE CASCADE, FOREIGN KEY("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE, PRIMARY KEY("com_no" AUTOINCREMENT));')

con.commit()  # 저장한다
con.close()   # db 닫기

In [7]:
#  insert into : 테이블 내 데이터 추가 
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

plus_data = ('5', time.strftime('%Y-%m-%d'), 'testid', '종이호일은 일반쓰레기입니다.')
cursor_db.execute("INSERT INTO 'comment'('qna_no', 'com_data','user_id','com_content') VALUES(?, ?, ?, ?)", plus_data) # 작업을 한다

con.commit()  # 저장한다
con.close()   # db 닫기

In [8]:
#  insert into : 테이블 내 데이터 수정 
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

# 작업을 한다
cursor_db.execute("UPDATE comment SET com_content= '확인해보겠습니다.' where com_no= 3") 

con.commit()  # 저장한다
con.close()   # db 닫기

In [9]:
#  insert into : data_aihub 테이블 내 데이터 삭제
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

# 작업을 한다
cursor_db.execute("DELETE FROM comment where com_no = 2")   

con.commit()  # 저장한다
con.close()   # db 닫기

In [12]:
# 모든 값 읽어오기 (id 순으로 역순정렬 후 5개 데이터만)

con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다
cursor_db.execute('SELECT * FROM comment ORDER BY qna_no DESC limit 5') # 
# 작업을 한다
raw_datas = cursor_db.fetchall()

for _ in raw_datas:
    print(_)

con.commit()  # 저장한다
con.close()   # db 닫기

(5, 5, '2023-04-14', 'testid', '종이호일은 일반쓰레기입니다.')
(4, 4, '2023-04-14', 'testid', '종이호일은 일반쓰레기입니다.')
(3, 3, '2023-04-14', 'testid', '확인해보겠습니다.')
(1, 1, '2023-04-14', 'testid', '종이호일은 일반쓰레기입니다.')

In [77]:
class Comment:
    def __init__(self): # 연결
        self.con = sqlite3.connect("teamproject.db", timeout=15, isolation_level=None)
        self.cur = self.con.cursor()
        
    def __del__(self): # 연결해제
        self.cur.close()
        self.con.close()
        
    def comment_insert(self, qna_no, user_id, com_content):
        sql = "INSERT INTO comment('qna_no', 'com_data', 'user_id', 'com_content') VALUES (?,?,?,?)"
        self.con.execute(sql,(qna_no, time.strftime('%Y-%m-%d'), user_id, com_content))
        self.con.commit()
        
    def comment_update(self, qna_no, com_content, com_no):  
        sql = "UPDATE  comment SET qna_no = ?, com_content =? where com_no =?"
        self.con.execute(sql,(qna_no, com_content, com_no,))
        self.con.commit()
        
    def comment_delete(self, com_no):             
        sql = "DELETE FROM comment where com_no =?"
        self.con.execute(sql, (com_no,))
        self.con.commit()           
    
    def comment_selectAll(self):            
        sql = "SELECT * FROM comment"
        res = self.cur.execute(sql,)
        for _ in res:            
            print(_)
        return res
        
    def comment_selectOne(self, com_no):      
        sql = "SELECT * FROM comment Where com_no = ?"
        self.cur.execute(sql, (com_no,))
        row = self.cur.fetchone()
        print(row)
        
        self.con.commit()

In [78]:
import sqlite3
from sqlite3 import Error
import time

if __name__ == '__main__':
    c= Comment()  
    c.comment_insert(3,'testid','일반으로 버려야 합니다.')
    c.comment_update(3,'일반 쓰레기로 버리는 것이 맞습니다', 6)
    c.comment_selectAll()

(1, 1, '2023-04-14', 'testid', '종이호일은 일반쓰레기입니다.')
(3, 3, '2023-04-14', 'testid', '확인해보겠습니다.')
(4, 4, '2023-04-14', 'testid', '종이호일은 일반쓰레기입니다.')
(5, 5, '2023-04-14', 'testid', '종이호일은 일반쓰레기입니다.')
(6, 3, '2023-04-18', 'testid', '일반 쓰레기로 버리는 것이 맞습니다')
(7, 3, '2023-04-18', 'testid', '일반으로 버려야 합니다.')
(8, 3, '2023-04-18', 'testid', '일반으로 버려야 합니다.')

In [ ]:
if __name__ == '__main__':
    c= Comment()