In [1]:
import sqlite3 # create table : qna 테이블 생성 
from sqlite3 import Error
import time

con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

cursor_db.execute('CREATE TABLE "qna"("qna_no" INTEGER NOT NULL, "qna_title" TEXT NOT NULL, "qna_date" TEXT NOT NULL, "user_id" TEXT NOT NULL,"qna_content" TEXT NOT NULL, FOREIGN KEY("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE,PRIMARY KEY("qna_no" AUTOINCREMENT));')

con.commit()  # 저장한다
con.close()   # db 닫기

In [10]:
#  insert into : 테이블 내 데이터 추가 
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

plus_data = ('질문있습니다5', time.strftime('%Y-%m-%d'), 'testid', '종이호일은 일반쓰레기 맞나요?')
cursor_db.execute("INSERT INTO 'qna'('qna_title', 'qna_date','user_id','qna_content') VALUES(?, ?, ?, ?)", plus_data) # 작업을 한다

con.commit()  # 저장한다
con.close()   # db 닫기

In [11]:
#  insert into : 테이블 내 데이터 수정 
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

# 작업을 한다
cursor_db.execute("UPDATE qna SET qna_content= '알류미늄 호일은 일반쓰레기 맞나요?' where qna_no= 3") # 따음표 제외해야 잘 수정된다

con.commit()  # 저장한다
con.close()   # db 닫기

In [12]:
#  insert into : 테이블 내 데이터 삭제
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

# 작업을 한다
cursor_db.execute("DELETE FROM qna where qna_no = 2")   

con.commit()  # 저장한다
con.close()   # db 닫기

In [14]:
# 모든 값 읽어오기 (id 순으로 역순정렬 후 5개 데이터만)

con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다
cursor_db.execute('SELECT * FROM qna ORDER BY qna_no DESC limit 6') # 
# 작업을 한다
raw_datas = cursor_db.fetchall()

for _ in raw_datas:
    print(_)

con.commit()  # 저장한다
con.close()   # db 닫기

(7, '질문있습니다5', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(6, '질문있습니다4', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(5, '질문있습니다3', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(4, '질문있습니다2', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(3, '질문있습니다1', '2023-04-14', 'testid', '알류미늄 호일은 일반쓰레기 맞나요?')
(1, '질문있습니다1', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')

In [5]:
class Qna:  # 모듈화
    def __init__(self): # 연결
        self.con = sqlite3.connect("teamproject.db", timeout=15, isolation_level=None)
        self.cur = self.con.cursor()
        
    def __del__(self): # 연결해제
        self.cur.close()
        self.con.close()
        
    def qna_insert(self, qna_title, user_id, qna_content):
        sql = "INSERT INTO qna('qna_date', 'qna_title', 'user_id', 'qna_content') VALUES (?,?,?,?)"
        self.con.execute(sql,(time.strftime('%Y-%m-%d'), qna_title, user_id, qna_content))
        self.con.commit()
        
    def qna_update(self, qna_title, user_id, qna_content, qna_no):  
        sql = "UPDATE  qna SET qna_title = ?, user_id= ?, qna_content =? where qna_no =?"
        self.con.execute(sql,(qna_title, user_id, qna_content, qna_no,))
        self.con.commit()
        
    def qna_delete(self, qna_no):             
        sql = "DELETE FROM qna where qna_no =?"
        self.con.execute(sql, (qna_no,))
        self.con.commit()           
    
    def qna_selectAll(self):            
        sql = "SELECT * FROM qna"
        res = self.cur.execute(sql,)
        for _ in res:            
            print(_)
        return res
        
    def qna_selectOne(self, qna_no):      
        sql = "SELECT * FROM qna Where qna_no = ?"
        self.cur.execute(sql, (qna_no,))
        row = self.cur.fetchone()
        print(row)
        
        self.con.commit()

In [9]:
import sqlite3
from sqlite3 import Error
import time

if __name__ == '__main__':
    q= Qna()  
    q.qna_selectAll()

(1, '질문있습니다1', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(3, '질문있습니다1', '2023-04-14', 'testid', '알류미늄 호일은 일반쓰레기 맞나요?')
(4, '질문있습니다2', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(5, '질문있습니다3', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(6, '질문있습니다4', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(7, '질문있습니다5', '2023-04-14', 'testid', '종이호일은 일반쓰레기 맞나요?')
(8, '질문있습니다6', '2023-04-18', 'testid', '해결했습니다ㅎ')