In [8]:
import sqlite3 # create table :  users 테이블 생성
import time

con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

cursor_db.execute('CREATE TABLE "users"("user_no" INTEGER NOT NULL, "user_date" TEXT NOT NULL, "user_id" TEXT NOT NULL UNIQUE, "user_pw" TEXT NOT NULL, "user_area" TEXT, PRIMARY KEY("user_no" AUTOINCREMENT));')

con.commit()  # 저장한다
con.close()   # db 닫기

In [17]:
#  insert into : data_aihub 테이블 내 데이터 추가 
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

plus_data = (time.strftime('%Y-%m-%d'),'idtest4', 'pwtest4', '성남시 중구')
cursor_db.execute("INSERT INTO 'users'('user_date', 'user_id', 'user_pw', 'user_area') VALUES(?, ?, ?, ?)", plus_data) # 작업을 한다

con.commit()  # 저장한다
con.close()   # db 닫기

In [24]:
#  insert into : data_aihub 테이블 내 데이터 수정 
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

# 작업을 
cursor_db.execute("UPDATE users SET user_area='대전광역시 중구' where user_no= 3") # 따움표를 제외해야 수정이 된다..

con.commit()  # 저장한다
con.close()   # db 닫기

In [26]:
#  insert into : data_aihub 테이블 내 데이터 삭제
con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다

# 작업을 한다
cursor_db.execute("DELETE FROM users where user_no= 4")   

con.commit()  # 저장한다
con.close()   # db 닫기

In [27]:
# 모든 값 읽어오기 (id 순으로 역순정렬 후 3개 데이터만)

con = sqlite3.connect('teamproject.db', timeout=10)   # db 연결
cursor_db = con.cursor()   # db를 연다
cursor_db.execute('SELECT * FROM users ORDER BY user_no DESC limit 3') # 
# 작업을 한다
raw_datas = cursor_db.fetchall()

for _ in raw_datas:
    print(_)

con.commit()  # 저장한다
con.close()   # db 닫기

(3, '2023-04-14', 'idtest3', 'pwtest3', '대전광역시 중구', '주택')
(2, '2023-04-14', 'idtest2', 'pwtest2', '성남시 중구', '빌라')
(1, '2023-04-14', 'idtest', 'pwtest', '서울특별시 중구', '아파트')

In [20]:
class Users:
    def __init__(self): # 연결
        self.con = sqlite3.connect("teamproject.db", timeout=15, isolation_level=None)
        self.cur = self.con.cursor()
        
    def __del__(self): # 연결해제
        self.cur.close()
        self.con.close()
        
    def user_insert(self, user_id, user_pw, user_area):
        sql = "INSERT INTO users ('user_date', 'user_id', 'user_pw', 'user_area') VALUES (?,?,?,?)"
        self.con.execute(sql,(time.strftime('%Y-%m-%d'), user_id, user_pw, user_area))
        self.con.commit()
        
    def user_update(self, user_id, user_pw, user_area, user_no):  
        sql = "UPDATE  users SET user_id = ?, user_pw= ?, user_area =? where user_no =?"
        self.con.execute(sql,(user_id, user_pw, user_area, user_no,))
        self.con.commit()
        
    def user_delete(self, user_no):             
        sql = "DELETE FROM users where user_no =?"
        self.con.execute(sql, (user_no,))
        self.con.commit()           
    
    def user_selectAll(self):            
        sql = "SELECT * FROM users"
        res = self.cur.execute(sql,)
        for _ in res:            
            print(_)
        return res
        
    def user_selectOne(self, user_no):      
        sql = "SELECT * FROM users Where  user_no = ?"
        self.cur.execute(sql, (user_no,))
        row = self.cur.fetchone()
        print(row)
        
        self.con.commit()

In [22]:
import sqlite3 # create table : qna 테이블 생성 
from sqlite3 import Error
import time

if __name__ == '__main__':
    u= Users()  
    u.user_insert('testid4', 'testpw', '인천광역시 중구')